@using Microsoft.AspNet.Identity

@if ((Session["UserId"] == null) && (Session["CatererId"] == null))
{

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Caterer Register", "CatererRegister", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Caterer Log in", "CatererLogin", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>


 }else if ((Session["UserId"] == null) && (Session["CatererId"] != null))
    {
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Orders", "Orders", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Log Off", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}

else if ((Session["UserId"] != null) && (Session["CatererId"] == null))
{

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Menu", "UserIndex", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <li>@Html.ActionLink("Log Off", "LogOff", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>

    }




